<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

<div layout:fragment="content1">

  <div class="container mt-5 ml-md-5 col-md-6" th:if="${book}">
    <div class="shadow card bg-light">
      <div class="card-header h4 text-dark text-center"
           th:text="${book.name.toUpperCase()}">
      </div>
      <div class="p-2">
        <table class="table table-hover table-bordered table-striped">
          <tr>
            <th class="text-primary">Author</th>
            <th  th:text="${book.author}"></th>
          </tr>
          <tr>
            <th class="text-primary">Overview</th>
            <th  th:text="${book.overview}"></th>
          </tr>
          <tr>
            <th class="text-primary">Language</th>
            <th  th:text="${book.language}"></th>
          </tr>
          <tr>
            <th class="text-primary">Publication Date</th>
            <th  th:text="${book.publicationDate}"></th>
          </tr>
          <tr>
            <th class="text-primary">Subject</th>
            <th  th:text="${book.subject}"></th>
          </tr>
          <tr>
            <th class="text-primary">Picture</th>
            <th>
              <img th:src="${book.coverPicUrl}" alt="Mountain View" style="width:155px;height:228px">
            </th>
          </tr>
          <tr>
            <th class="text-primary">Copies available</th>
            <th  th:text="${stock.available}"></th>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
</html>