<!DOCTYPE html>
<html
    lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

<div layout:fragment="content1">

  <div class="container mt-5 ml-md-5 col-md-6">
    <div class="shadow card bg-light">
      <div class="card-header h4 text-primary text-center">
        <div>Welcome !!</div>
      </div>
      <div class="p-2 card-body list-group">
        <p>
      Welcome to your public service library you can check for your specific book or check the borrowed ones already !
        </p>
      </div>
    </div>
  </div>

</div>
</html>