<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

<div layout:fragment="content1">
  <main class="page registration-page mb-3">
    <section class=" clean-form dark  mt-5 ml-md-5 col-md-6">
      <div class="container shadow card bg-light text-dark">
        <div class="block-heading p-2 pm-3 mb-3">
          <h2 class="h2 text-center p-2">subscription</h2>
        </div>
        <form class="needs-validation" novalidate th:action="@{/register}" method="post" th:object="${libraryUser}" name="registrationForm">

          <div class="form-group">
            <label th:for="username">Username</label>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend">@️️</span></div>
              <input
                  class="form-control"
                  type="text" id="username" name="userName" th:field="*{username}"
                  autofocus="autofocus" placeholder="Pseudo" aria-describedby="inputGroupPrepend" required />
            </div><span>
            <ul class="text-danger" th:each="error: ${#fields.errors('username')}">
              <li th:each="message : ${error.split(',')}">
                <p class="error-message" th:text="${message}"></p>
              </li>
            </ul>
            </span>
            <small id="passwordHelpInline" class="text-muted">
             Must be between 2 to 50 characters !
            </small>

          </div>
          <div class="form-group">
            <label for="name">Firstname</label>
            <input class="form-control item" name="nom" type="text" id="name" th:field="*{firstname}"/>
            <span th:errors="*{firstname}" class="text-danger"></span>
          </div>

          <div class="form-group">
            <label for="Lastname">Lastname</label>
            <input
                class="form-control item"
                name="Lastname" type="text"
                id="Lastname"
                th:value="${libraryUser.lastname}"/>
            <span th:errors="${libraryUser.lastname}" class="text-danger"></span>
          </div>

          <div class="form-group">
            <label for="password">Password</label>
            <input
                name="motDePasse" class="form-control item" type="password" id="password"
                th:value="${libraryUser.password}"/>
            <span th:errors="*{password}" class="text-danger"></span>
          </div>


          <div class="form-group">
            <label for="confirmationMdp">Confirme the <em>Password*</em></label>
            <input
                class="form-control item" type="password" id="confirmationMdp" name="confirmationMdp"
                th:value="${libraryUser.passwordRetype}"/>
            <span th:errors="*{passwordRetype}" class="text-danger"></span>
          </div>
          <div class="form-group">
            <label for="email">E-mail</label>
            <input
                class="form-control item"
                name="email" type="text"
                id="email"
                th:value="${libraryUser.email}"/>

            <ul class="text-danger" th:each="error: ${#fields.errors('email')}">
              <li th:each="message : ${error.split(',')}">
                <span class="error-message" th:text="${message}"></span>
              </li>
            </ul>
          </div>
          <button class="btn btn-primary btn-lg m-3" type="submit">Subscribe 💾</button>
        </form>
      </div>
    </section>
  </main>
  <!--
############### Validation FRONT-END Script  #############*START*###########
-->
  <!--
  ############### Validation FRONT-END Script  #############*END*#############
  -->
</div>

</html>