/* Change this breakpoint if you change the breakpoint of the navbar */

@media (min-width: 992px) {
  .animate {
    animation-duration: 0.3s;
    -webkit-animation-duration: 0.3s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
  100% {
    transform:translateY(0rem);
    opacity: 1;
  }
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }
  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

/* Other styles for the page not related to the animated dropdown */

body{
  font-family: 'Roboto',Arial,Helvetica, sans-serif;
  background-size: cover;
  background: url(../img/librarybookpic1920.png) no-repeat center center fixed;

  /*
  background: #fffcd3;
  background: linear-gradient(to right, #e6cdd8, #fefff9);*/
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: unset;
}
tr{
  font-family: 'Roboto',Arial,Helvetica, sans-serif;
}

#menuText {
  font-family: 'Chewy', cursive;
  font-size: larger;
}
.shadow-textarea textarea.form-control::placeholder {
  font-weight: 300;
}
.shadow-textarea textarea.form-control {
  padding-left: 0.8rem;
}

h1,h2,h3,h4{
  font-family: 'Chewy', cursive;
  font-size: larger;
}